In [57]:
import pandas as pd
import matplotlib.pyplot as plt

In [58]:
#read in the weather csv file
file_path = "weather_by_month.csv"
monthly_weather_data = pd.read_csv(file_path)

#create the data frame
monthly_weather_df = pd.DataFrame(monthly_weather_data)

In [59]:
#sanity check
#monthly_weather_df

In [60]:
#split the month and aday column
monthly_weather_df[['Year', 'Month']] = monthly_weather_df.Month.str.split("-", expand=True)

#santiy check
#monthly_weather_df

In [74]:
#create a column with joined year and month
monthly_weather_df["Date"] = monthly_weather_df["Year"].astype(str) + '-' + monthly_weather_df["Month"].astype(str)

In [144]:
#restructuring the columns
monthly_weather_df = monthly_weather_df[['Date',
                                         'Year',
                                         'Month',
                                         'Temperature (F)',
                                         'Humitdity (%)',
                                        'Snowfall Depth (in)',
                                        'Wind Speed (MPH)',
                                        'Precipitation (in)']]
#convert the month column to int
monthly_weather_df['Month'] = monthly_weather_df['Month'].astype(int)

#sanity check
monthly_weather_df

,Date,Year,Month,Temperature (F),Humitdity (%),Snowfall Depth (in),Wind Speed (MPH),Precipitation (in)
0,2020-02,2020,2,30.2,44.1,0.0,11.0,0.00
1,2020-03,2020,3,34.1,47.2,0.0,7.3,0.00
2,2020-03,2020,3,47.8,56.0,0.0,6.7,0.00
3,2020-03,2020,3,52.0,79.9,0.0,6.2,0.23
4,2020-03,2020,3,49.9,50.3,0.0,12.4,0.00
...,...,...,...,...,...,...,...,...
1877,2015-10,2015,10,50.6,68.6,0.0,4.0,0.00
1878,2015-10,2015,10,59.5,91.3,0.0,11.0,1.19
1879,2015-10,2015,10,64.1,62.0,0.0,9.1,0.05
1880,2015-10,2015,10,52.5,47.6,0.0,7.4,0.00
1881,2015-10,2015,10,48.2,62.2,0.0,3.6,0.00

In [145]:
#groupby year and month
#grouped_weather_df = monthly_weather_df.groupby(['Year', 'Month'])

#sanity check
#grouped_weather_df.mean()

In [149]:
#bins for the seasons
bins = [0, 3, 6, 9, 12]

# Create the names for the bins
group_names = ["Spring", "Summer", "Fall", "Winter"]

#cut the df
monthly_weather_df["Season"] = pd.cut(monthly_weather_df["Month"], bins, labels=group_names, include_lowest=True)

#sanity check
monthly_weather_df

,Date,Year,Month,Temperature (F),Humitdity (%),Snowfall Depth (in),Wind Speed (MPH),Precipitation (in),Season
0,2020-02,2020,2,30.2,44.1,0.0,11.0,0.00,Spring
1,2020-03,2020,3,34.1,47.2,0.0,7.3,0.00,Spring
2,2020-03,2020,3,47.8,56.0,0.0,6.7,0.00,Spring
3,2020-03,2020,3,52.0,79.9,0.0,6.2,0.23,Spring
4,2020-03,2020,3,49.9,50.3,0.0,12.4,0.00,Spring
...,...,...,...,...,...,...,...,...,...
1877,2015-10,2015,10,50.6,68.6,0.0,4.0,0.00,Winter
1878,2015-10,2015,10,59.5,91.3,0.0,11.0,1.19,Winter
1879,2015-10,2015,10,64.1,62.0,0.0,9.1,0.05,Winter
1880,2015-10,2015,10,52.5,47.6,0.0,7.4,0.00,Winter
1881,2015-10,2015,10,48.2,62.2,0.0,3.6,0.00,Winter

In [63]:
#file path
file_path = ('../UberLyft/uber_data.csv')

#read in the csv file
uber_data = pd.read_csv(file_path)

#create a df
uber_df = pd.DataFrame(uber_data)

#sanity check
#uber_df

In [64]:
#create a column with joined year and month
uber_df["Date"] = uber_df["Year"].astype(str) + '-' + uber_df["Month"].astype(str)

#sanity check
#uber_df

In [135]:
#resstructuring the columns
uber_df = uber_df[['Date',
                   'Year',
                  'Month',
                  'Total Dispatched Trips',
                 'Total Dispatched Shared Trips',
                 'Unique Dispatched Vehicles']]

#sanity check
#uber_df

In [66]:
#group by month and year
#grouped_uber_df = uber_df.groupby(['Year', 'Month'])

#sanity check
#grouped_uber_df.mean()

In [136]:
#bins for the seasons
bins = [0, 3, 6, 9, 12]

# Create the names for the bins
group_names = ["Spring", "Summer", "Fall", "Winter"]

#cut the df
uber_df["Season"] = pd.cut(uber_df["Month"], bins, labels=group_names, include_lowest=True)

#sanity check
uber_df

,Date,Year,Month,Total Dispatched Trips,Total Dispatched Shared Trips,Unique Dispatched Vehicles,Season
0,2018-8,2018,8,14060879,4027450,72344,Fall
1,2015-3,2015,3,2259575,0,14290,Spring
2,2015-12,2015,12,4343828,0,28716,Winter
3,2020-2,2020,2,15743375,1102238,68833,Spring
4,2015-1,2015,1,1871075,0,12544,Spring
...,...,...,...,...,...,...,...
59,2018-7,2018,7,14063243,3877702,71836,Fall
60,2016-12,2016,12,7880513,0,46886,Winter
61,2018-11,2018,11,14554993,3858407,76494,Winter
62,2015-2,2015,2,2178305,0,13531,Spring
63,2019-3,2019,3,17247995,2973699,78973,Spring

In [67]:
#file path
file_path = ('../UberLyft/lyft_data.csv')

#read in the csv file
lyft_data = pd.read_csv(file_path)

#create a df
lyft_df = pd.DataFrame(lyft_data)

#sanity check
#lyft_df

In [127]:
#create a column with joined year and month
lyft_df["Date"] = lyft_df["Year"].astype(str) + '.' + lyft_df["Month"].astype(str)

In [122]:
#sanity check
#lyft_df

In [137]:
#resstructuring the columns
lyft_df = lyft_df[['Date',
                   'Year',
                  'Month',
                  'Total Dispatched Trips',
                 'Total Dispatched Shared Trips',
                 'Unique Dispatched Vehicles']]

In [138]:
#bins for the seasons
bins = [0, 3, 6, 9, 12]

# Create the names for the bins
group_names = ["Spring", "Summer", "Fall", "Winter"]

In [139]:
#bins for the seasons
bins = [0, 3, 6, 9, 12]

# Create the names for the bins
group_names = ["Spring", "Summer", "Fall", "Winter"]

#cut the df
sorted_lyft_df["Season"] = pd.cut(sorted_lyft_df["Month"], bins, labels=group_names, include_lowest=True)

#sanity check
sorted_lyft_df

,Date,Year,Month,Total Dispatched Trips,Total Dispatched Shared Trips,Unique Dispatched Vehicles,Season
4,2015.10,2015,10,434476,0,6657,Winter
6,2015.11,2015,11,450483,0,7023,Winter
55,2015.12,2015,12,524782,0,6830,Winter
8,2015.4,2015,4,80613,0,2519,Summer
44,2015.5,2015,5,100862,0,2701,Summer
...,...,...,...,...,...,...,...
52,2019.9,2019,9,4611514,1258443,48447,Fall
9,2020.1,2020,1,5274248,1319840,44285,Spring
22,2020.2,2020,2,5339549,1295327,43192,Spring
17,2020.3,2020,3,3219535,557289,40328,Spring
57,2020.4,2020,4,1143604,0,11665,Summer