In [60]:
import pandas as pd
import os

In [61]:
#reading in the temperature csv
temp_file = ("temperature.csv")

temp_df = pd.read_csv(temp_file)

#sanity check
#temp_df.head()

In [62]:
#creating a df to be merged
ny_temp_df = temp_df[['datetime', 'New York']]

In [63]:
#reading in the humidity csv
humidity_file = ("humidity.csv")

humidity_df = pd.read_csv(humidity_file)

#sanity check
#humidity_df.head()

In [64]:
#creating a df to be merged
ny_humidity_df = humidity_df[['datetime', 'New York']]

#sanity check
#ny_humidity_df

In [65]:
#first merge
ny_first_df = ny_temp_df.merge(ny_humidity_df, on = 'datetime')

#sanity check
#ny_first_df.head()

In [66]:
#rename the columns
ny_first_df = ny_first_df.rename(columns={'New York_x': 'Temperature',
                               'New York_y': 'Humidity'})

In [67]:
#reading in the weather description csv
weather_file = ("weather_description.csv")

weather_df = pd.read_csv(weather_file)

#sanity check
#weather_df.head()

In [68]:
#creating a df to be merged
ny_weather_df = weather_df[['datetime', 'New York']]

#sanity check
#ny_weather_df.head()

In [69]:
#second merge
ny_second_df = ny_first_df.merge(ny_weather_df, on = 'datetime')

#sanity check
#ny_second_df.head()

In [70]:
#reading in the wind speed csv
wind_file = ("wind_speed.csv")

wind_df = pd.read_csv(wind_file)

#sanity check
#wind_df.head()

In [71]:
#creating a df to be merged
ny_wind_df = wind_df[['datetime', 'New York']]

#sanity check
#ny_wind_df.head()

In [72]:
#third merge
ny_third_df = ny_second_df.merge(ny_wind_df, on = 'datetime')

#sanity check
#ny_third_df.head()

In [73]:
#rename the columns
ny_third_df = ny_third_df.rename(columns={'New York_x':'Weather Description',
                            'New York_y':'Wind Speed'})
#sanity check
#ny_third_df

In [74]:
#dropping the emptys
ny_third_df = ny_third_df.dropna(how='any')

#sanity check
#ny_third_df

In [75]:
#convert the temperature to F
temp_data = ny_third_df['Temperature']

converted_temp = []

for item in temp_data:
    f = (float(item) - 273.15) * 1.8 + 32
    converted_temp.append(f)

In [76]:
#add the converted temp to the df
ny_third_df['Temperature'] = converted_temp

#round the entire column
ny_third_df['Temperature'] = ny_third_df['Temperature'].round(decimals=2)

#sanity check
#ny_third_df

In [77]:
#split the datetime column
ny_third_df[['Date', 'Time']] = ny_third_df.datetime.str.split(" ", expand=True)

#sanity check
#ny_third_df

In [82]:
#sanity check
#ny_third_df

In [81]:
ny_third_df[['Year', 'Month', 'Day']] = ny_third_df.Date.str.split("-", expand=True)

#sanity check
ny_third_df

,Date,Time,Temperature,Humidity,Wind Speed,Weather Description,Year,Month,Day
1,2012-10-01,13:00:00,59.13,58.0,7.0,few clouds,2012,10,01
2,2012-10-01,14:00:00,59.18,57.0,7.0,few clouds,2012,10,01
3,2012-10-01,15:00:00,59.32,57.0,7.0,few clouds,2012,10,01
4,2012-10-01,16:00:00,59.46,57.0,7.0,few clouds,2012,10,01
5,2012-10-01,17:00:00,59.60,57.0,6.0,few clouds,2012,10,01
...,...,...,...,...,...,...,...,...,...
44456,2017-10-27,20:00:00,62.29,36.0,3.0,sky is clear,2017,10,27
44457,2017-10-27,21:00:00,61.39,38.0,1.0,sky is clear,2017,10,27
44458,2017-10-27,22:00:00,58.59,54.0,2.0,sky is clear,2017,10,27
44459,2017-10-27,23:00:00,54.82,62.0,3.0,sky is clear,2017,10,27
44460,2017-10-28,00:00:00,53.29,58.0,2.0,sky is clear,2017,10,28

In [83]:
#order the columns
ny_third_df = ny_third_df[['Date',
                           'Year',
                           'Month',
                           'Day',
                           'Time',
                           'Temperature',
                           'Humidity',
                           'Wind Speed',
                           'Weather Description']]

In [85]:
#sanity check
ny_third_df

,Date,Year,Month,Day,Time,Temperature,Humidity,Wind Speed,Weather Description
1,2012-10-01,2012,10,01,13:00:00,59.13,58.0,7.0,few clouds
2,2012-10-01,2012,10,01,14:00:00,59.18,57.0,7.0,few clouds
3,2012-10-01,2012,10,01,15:00:00,59.32,57.0,7.0,few clouds
4,2012-10-01,2012,10,01,16:00:00,59.46,57.0,7.0,few clouds
5,2012-10-01,2012,10,01,17:00:00,59.60,57.0,6.0,few clouds
...,...,...,...,...,...,...,...,...,...
44456,2017-10-27,2017,10,27,20:00:00,62.29,36.0,3.0,sky is clear
44457,2017-10-27,2017,10,27,21:00:00,61.39,38.0,1.0,sky is clear
44458,2017-10-27,2017,10,27,22:00:00,58.59,54.0,2.0,sky is clear
44459,2017-10-27,2017,10,27,23:00:00,54.82,62.0,3.0,sky is clear
44460,2017-10-28,2017,10,28,00:00:00,53.29,58.0,2.0,sky is clear